# .github/workflows/spellcheck.yml
---
name: Codespell Spellcheck

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install codespell
        run: |
          make install

      - name: Run spellcheck
        run: |
          make spellcheck
